{% if page.header %}
<header role="navigation">
{{ page.header }}
</header>
{% endif %}

{{ page.primary_menu }}

{{ page.highlighted }}
{{ page.secondary_menu }}

{{ page.breadcrumb }}

{{ page.help }}

<main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="content">
    {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
    <aside class="sidebar-first" role="complementary">
    {{ page.sidebar_first }}
    </aside>
    {% endif %}

    {% if page.sidebar_second %}
    <aside class="sidebar-second" role="complementary">
    {{ page.sidebar_second }}
    </aside>
    {% endif %}
</main>

{% if page.footer %}
<div class="wide">
    <footer role="contentinfo">
        {{ page.footer }}
    </footer>
</div>
{% endif %}
