{% set attributes = attributes.addClass('site-branding') %}
    {% if site_logo or site_name %}
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
            {% if site_logo %}
                <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
            {% endif %}
            {{ site_name }}
        </a>
    {% endif %}
    {% if site_slogan %}
        <div class="d-inline-block align-top site-name-slogan">
            {{ site_slogan }}
        </div>
    {% endif %}